<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div class="card">
  <div class="card-header">
    <strong><%= @post.title %></strong> - <%= @post.category.name %>
  </div>
  <div class="card-body">
    <img src="<%= @post.image.url %>" width="100%">
    <%= @post.text %>
  </div>
</div>

<%= render @post.comments %>

<%= render "comments/form" %>
